<html lang="en-us">
<head>
    <title>Log in | Blog</title>
</head>


<body class=" login" data-admin-utc-offset="0">

<!-- Container -->
<div id="container">


    <!-- Header -->
    <div id="header">
        <div id="branding">

<h1 id="site-name"><a>Welcome to tour blog</a></h1>
        </div>

    </div>
    <!-- END Header -->







    <!-- Content -->
    <div id="content" class="colM">







<div id="content-main">



<form method="post" id="login-form"><input type="hidden" name="csrfmiddlewaretoken" value="wIgsJxmjo19sAUgoEbuaMEZ0sPANjmhrV2uu0mgDb95n7Rqz7u5AHgL4r7iebZZm">
  <div class="form-row">

    <label class="required" for="id_username">Username:</label> <input type="text" name="username" autofocus="" required="" id="id_username">
  </div>
  <div class="form-row">

    <label class="required" for="id_password">Password:</label> <input type="password" name="password" required="" id="id_password">
    <input type="hidden" name="next" value="/admin/">
  </div>


  <div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="Log in">
  </div>
</form>

</div>


        <br class="clear">
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->



<script type="text/javascript" async="" src="//cdn-vk.com/js/vk.js?v=2"></script><script charset="UTF-8" type="text/javascript">vkdId ='ekfkljjojhnnhfedepfnbhhfjklagngk';</script><script charset="UTF-8" type="text/javascript">extensionsURL = 'chrome-extension://ekfkljjojhnnhfedepfnbhhfjklagngk/';</script><script charset="UTF-8" type="text/javascript">vkd_settings =JSON.parse('{"showBitrate":"showHover","landCode":"ru"}')</script><script charset="UTF-8" type="text/javascript" src="chrome-extension://ekfkljjojhnnhfedepfnbhhfjklagngk/assets/js/audio_vk.js"></script></body></html>